<p class="paragraf">
                &nbsp;
                <div class="set-margin"></div>
                <div class="card-responsive card col-sm-3 border-2  ">
                    <div class="card-header bold border-O  ">
                        <h4 class="center"><%= list.name %></h4>
                    </div>
                    <div class="card-body bg-secondary  border-O ">
                        <h6 style="color:white">CARD
                            <div class="prof-card"><img src="95557313167d552abc938d523fe2e8fc.jpg" height="35px" width="40px" class="rounded-circle"></div>
                        </h6>

                    </div>
                    <div class="set-margin"></div>
                    
                </div>
</p>