<p class="paragraf">
  &nbsp;
</p>

<div class="card-responsive card col-sm-3 border-2  ">
  <div class="card-header bold border-O  ">
    <h4 class="center"><%= list.name %></h4>
</div>

<div class="list-group">
 <% list.cards.each do |card| %>
    <%= render partial: 'cards/content', locals: {card: card} %>
  <% end %>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cardModal" style="margin-top: 20px; margin-bottom: 20px; ">
  ADD card
</button>
<%= render partial: 'cards/form', locals: { card: Card.new, list: list.id } %>
</div>                     
