<div class = "header-title containfeature"> 
 <h2 style="color:black;" class="txt-gradient" align="center"> Recently view</h2>
</div>
<div class = "header-title containfeature"> 
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    ADD BOARD
  </button>
    <%= render partial: 'boards/form', locals: {board: Board.new} %>  
    <div class="containfeature ">
      <div class="wrapper-nub table-responsive">
        <div class="container" id ="items">
          <h2 align ="center">::Personal Project::.</h2>
        </div>
        <% @boards.each do |board| %>
          <%= render partial: 'boards/item', locals: {board: board} %>
        <% end %>
      </div>
    </div>
</div>




