<div class = "header-title containfeature"> 
 <h2> Recently view</h2>
</div>
<div class = "header-title containfeature"> 
<h6 style="margin:34%; "><%= link_to 'Add Board',new_board_path, class:'btn button6'%></h6>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
<%= render partial: 'boards/form' %>

  <div class="containfeature ">

    <div class="wrapper-nub table-responsive">
    <div class="container" id ="items">
<h2 align ="center">::Personal Project::.</h2>
 </div>
 
    <% @boards.each do |board| %>
     <%= render partial: 'boards/item', locals: {board: b} %>
    <% end %>
    </div>
  </div>
  </div>




