<div class="card-body bg-secondary  border-O ">
<h6 style="color:white"><%= card.name %>
    <div class="prof-card"><img src="95557313167d552abc938d523fe2e8fc.jpg" height="35px" width="40px" class="rounded-circle"></div>
</h6>

</div>